/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin-top: 79px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    margin-right: -2px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-subtitle {
    margin: 0;
}

.see-more {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.card-rating {
    display: inline-block;
    gap: 2px;
    margin-top: auto;
}

/****** header ***********/

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 1440px;
    padding: 0 58px;
    box-sizing: border-box;

    background-color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 79px;
}

.logo img {
    height: 19px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: end;

    gap: 68px;
    height: 35px;
}

.nav-links .nav-link {
    display: flex;
    align-items: end;

    height: 100%;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.nav-link:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 2px;
}

.nav-links .nav-link.active {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 2px;
}

/* Groupes d'information */
.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-group h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.title-group p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Barre de recherche */
.search-group {
    display: flex;
    flex-direction: row;

    width: fit-content;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
}

.search-group .location-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-group .location-icon i {
    font-size: 18px;
}

.search-group input {
    border: none;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 700;
}

.search-group input:focus {
    outline: none;
}

.search-group .loupe-icon {
    display: none;
}

.search-group .search-button {
    background-color: var(--main-color);
    color: white;
    border: none;

    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-group .search-button .btn-icon {
    display: none;
}

/* Filtres */
.filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.filter-group p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-group button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    border-radius: 999px;
    padding: 13px 15px;
    gap: 10px;

    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.filter-group button.active,
.filter-group button:hover {
    background-color: var(--filter-bg-color);
}

/* Disponibilité */
.disponibility {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.disponibility .info-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    width: 24px;
    border-radius: 50%;

    border: 2px solid var(--main-bg-color);
}

.disponibility .info-logo i {
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/

/* Conteneur principal Hébergements et Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hebergements {
    order: 1;
}

.populaires {
    order: 2;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
}

.hebergements .section-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards a {
    display: flex;
    flex: 0 0 calc((100% - 60px) / 3);
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-bottom: 15px;
}

.hebergements-img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    padding: 0px 15px;
    padding-top: 15px;
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 146px;
    box-sizing: border-box;
}

.populaires-cards .card-img-container {
    width: 33%;
    height: 100%;
}

.populaires-cards img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin: 0;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .populaires-cards a {
        flex: 1 1 0;
        min-width: 0;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        margin-top: 144px;
        padding: 0 0px;
    }

    /* Nav */
    nav {
        padding: 0;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        gap: 0;
        width: 100%;
        justify-content: center;
    }

    .nav-links .nav-link {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-links .nav-link.active {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    /* Info group */
    .info-group {
        padding: 0 20px;
    }

    .search-group input {
        width: 100%;
    }

    .search-button {
        border-radius: 15px;
        padding: 15px !important;
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
    }

    .search-group .search-button .btn-text {
        display: none;
    }

    .search-group .search-button .btn-icon {
        display: flex;
        font-size: 18px;
    }

    .btn-icon i {
        color: white;
    }

    .filter-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-buttons {
        flex-wrap: wrap;
        align-items: flex-start;
        row-gap: 20px;
        column-gap: 10px;
    }

    .filter-buttons button {
        flex: 1 1 calc(50% - 10px);
        justify-content: flex-start;
    }

    /* Hebergements And Populaires */
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 30px;
    }

    .hebergements {
        order: 2;
        border-radius: 0px !important;
        padding: 30px 20px !important;
        background-color: transparent !important;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-cards a {
        flex: 1 1 100%;
    }

    .populaires {
        order: 1;
        gap: 15px;
        border-radius: 0px !important;
        padding: 30px 20px !important;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaire-cards .card {
        width: 100%;
    }
}
